

/* 
   .' -   - '.
  /  .-. .-.  \
  |  | | | |  |     ShellDredd Society
   \ \o/ \o/ /       -The cyber side-
  _/    ^    \_
 | \  '---'  / |
 / /`--. .--`\ \
/ /'---` `---'\ \
'.__.       .__.'
    `|     |`
     |     \
     \      '--.
      '.        `\
        `'---.   |
           ,__) /
            `..' */


/* Código referente al home.html */

* {
   margin: 0;
   padding: 0;
   }

/*#contenedor_carga_home{
    background-image: url(../images/back2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 2s ease;
    z-index: 10000;
    }*/

html {box-sizing: border-box;}
body{background-color: #000000;
}

*, *:before, *:after {
  box-sizing: inherit;
 }

        .main{
          padding-top: 30px;
          background-image: linear-gradient(340deg, rgba(161, 36, 192, 0.658) 25%, #0a060a 100%);}

        .portada-home{
          position: static;
          background-image: url(../images/border1.gif);
          background-size: calc();
          background-repeat: no-repeat;
          background-position-x: center;
          width: 100%;
          height: 400px;
          text-align: center;
          filter: drop-shadow(10px 10px 10px purple);
          
        }

        .header {
          height: 70px;
          background-color: transparent;
          position: fixed, static;
          left: 0; top: 0; right: 0;
          
        }
        
        .header a {color: rgb(196, 72, 196); text-decoration: none;}
      
      .container-logo-nav {
          color: transparent;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
      }

      .titulo-shelldredd{color: rgb(188, 84, 236); filter: drop-shadow(10px 10px 10px purple); text-align: center; font-size: 25px;margin-bottom: 3px;}
      
      /* Icono y texto shelldredd */
      .logo1{width: 30px; justify-items: center;}

      .logo {width: 30px; margin-left: 0.5em; letter-spacing: 5px; font-size: 16px; display: block;}
      .logo:hover {filter: drop-shadow(0 10px 10px rgb(168, 21, 21));}
      
      .navi ul {height: 70px; padding: 0.5rem 1rem; list-style: none;}
      .navi ul:hover {padding: 0.5rem 1rem; list-style: none;border-style: solid;}
      .navi ul li {display: inline-block;}
      .navi ul li a {display: block; padding: 0.5rem 1rem;}
      .navi ul li a:hover {height: 70px; padding: 0.5rem 1em; filter: drop-shadow(0 10px 15px purple);
        background-image: url(../images/boton-header1.gif); background-size: cover; background-repeat: no-repeat;}

      /* Iconos header */
      .icon-home {width: 65px;}
      .icon-youtube {width: 65px;}
      .icon-twitch {width: 45px;}
      .icon-github{width: 50px;}
      .icon-discord{width: 90px;}

      /* Iconos header Medio */
      .icon-twitter, .icon-linkedin{width: 35px;}
      .icon-github-medio{width: 35px;}

      /* Iconos footer grande */
      .icon-footer1{width:100px;height:auto;max-width:50%;max-height:50%; align-items: center;
        filter: drop-shadow(0 10px 15px purple)}
      .icon-footer1-discord{width:140px;height:auto;max-width:50%;max-height:50%; align-items: center;
        filter: drop-shadow(0 10px 15px purple)}

/* Texto, títulos y enlaces */

  h2{font-size: 18px;}

  .titulo-cajas{font-size: 20px;color: rgb(255, 255, 255);text-align: center;}
  .enlace{font-size: 16px; color: #ffffff; font-style: oblique;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}
  .enlace:hover{font-size: 18px;color: #ffffff;font-style: oblique;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}

  .enlace-art{line-height: 50px;font-size: 16px; color: #000000; font-style: oblique;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}
  .enlace-art:hover{font-size: 18px;color: #ffffff;font-style: oblique;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}

  .titulo1{color: wheat; filter: drop-shadow(10px 10px 10px purple); text-align: center;}
  .text1{font-size: 20px; color: gray; margin-left: 15rem; margin-right: 15rem; margin-top: 2rem; text-align: justify;}

  .img-art-list{width: 300px; margin-right: 25px;}

  .li-articulos{list-style: none;}

/* Footer */
  .header-footer{
    height: 70px;
    background-color: transparent;
    position: fixed, static;
    left: 0; top: 0; right: 0;
  }

  .header-footer a {color: rgb(196, 72, 196); text-decoration: none;}

  .icon-footer{width:50px;height:auto;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .texto-footer{font-size: 12px;color: wheat;}


/* Caja de contenido máquinas */
  .icon-ctf{width:180px;height:auto;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-2{width:150px;height:150px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-vhs{width:auto;height:150px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-noticias{width:auto;height:150px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-freedom{width:auto;height:150px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}

  
  
  .plan ul {margin: 0;padding: 0;list-style: none;}
  .plan ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);padding:10px;
  }
  .plan ul li:last-child {border-bottom: 0;}
  .plan a {
    max-width: 400px;
    align-items: center;
    text-decoration: none;
    background:#8c2dcc;
    padding:10px;
    color:black;
    border-radius:5px;
  }
  .plan h2 {text-transform: uppercase; color:white; letter-spacing: 2px; text-shadow:3px 3px 0 rgba(0,0,0,0.1);}
  
 
  
  /* Flex */
  .pricing-grid {
    max-width: 100%;
    min-width: 120px;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .pricing-grid:hover {filter: drop-shadow(0 10px 15px rgb(241, 190, 241))}
  
  .plan {
    width: auto;
    background:rgba(123, 29, 160, 0.411);
    margin:20px;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    flex:1;
    display: block;
    flex-wrap:wrap;
  }

  .features{margin-bottom: 4px;color: wheat}

  .img-boton{width: 100px; height: auto;filter: drop-shadow(0 10px 15px rgb(231, 65, 231))}
  .img-boton-3{width: auto; height: 100px;filter: drop-shadow(0 10px 15px rgb(231, 65, 231))}
  .img-gameboy{width: auto; height: 60px;filter: drop-shadow(0 10px 15px rgb(231, 65, 231))}
  .img-play1{width: auto; height: 40px;filter: drop-shadow(0 10px 15px rgb(231, 65, 231))}
  .img-raton{width: 35px; height: auto;filter: drop-shadow(0 10px 15px rgb(231, 65, 231))}


  .plan:hover {filter: drop-shadow(0 10px 15px #8210ce)}

  .plan > * {flex:1 1 100%;}
  .plan .cta {align-items: center; width: 100%; color: #bb76e4; filter: drop-shadow(0 5px 5px rgb(0, 0, 0))}
  .cta:hover{filter: drop-shadow(0 5px 5px rgb(247, 173, 237))}
  
  .boton3{width: 100%;}

  /* Segundo contenedor de cajas */

  .icon-hmv{width:150px;height:auto;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px rgb(238, 234, 248))}

  /* Contenedor de contenido general */

  .img-contenido{width:100px;height:100px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}

  .img-contenido-shelldredd{width:130px;height:100px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .img-contenido-shelldredd:hover{filter: drop-shadow(0 10px 15px rgb(214, 18, 18))}

  .bloque-texto {
    font-size: 18px;
    width: auto;
    color: #5f2572;
    background:rgba(222, 178, 240, 0.753);
    filter: drop-shadow(0 10px 15px rgb(0, 0, 0));
    margin:20px;
    padding:100px;
    border-radius: 4px;
    text-align: justify;
    margin-left: 100px;margin-right: 100px;
    flex:1;
    display: block;
    flex-wrap:wrap;
  }

  .bloque-art-list {
    font-size: 18px;
    width: auto;
    color: #620069;
    background:rgba(222, 178, 240, 0.753);
    filter: drop-shadow(0 10px 15px rgb(0, 0, 0));
    margin:20px;
    padding:100px;
    border-radius: 4px;
    text-align: center;
    margin-left: 100px;margin-right: 100px;
    flex:1;
    display: block;
    flex-wrap:wrap;
  }

  .h2-articulos{font-style: oblique;font-size: 32px;}

  /* Menu de articulos. */
  .enlace-articulo-menu{font-style: bold;font-size: 14px; color: #e7e1eb; font-style: bold;filter: drop-shadow(10px 5px 10px rgb(0, 0, 0))}
  .enlace-articulo-menu:hover{color: #ffffff;filter: drop-shadow(10px 5px 10px rgb(0, 0, 0))}

  /* Articulos configuración. */
  .h2-articulos{font-style: oblique;}
  .portada-articulo-miniatura{width: auto;height: 200px;border-radius: 10px;filter: drop-shadow(10px 5px 10px rgb(0, 0, 0))}
  .portada-articulo-miniatura:hover{cursor:pointer;width: auto;height: 230px;border-radius: 10px;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}

  /* Página HackMyVM */
  .portada-hmv{
    position: static;
    background-image: url(../images/logo-hmv.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 3em;
    filter: drop-shadow(10px 10px 10px purple);
  }

  .icon-pc{width:100px;height:auto;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-cashita{width:400px;height:auto;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}

  /* Página Máquinas Exclusivas */
  .portada-maquinasvm{
    position: static;
    background-image: url(../images/portada-vm1.gif);
    background-size: calc();
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 510px;
    text-align: center;
    margin-top: 3em;
    filter: drop-shadow(10px 10px 10px purple);
  }

  .ul-art-horizontal{margin-bottom: 4px;color: wheat; text-align: left;font-size: 16px;}

  /* Página Próximamente */
  .portada-proximamente{
    position: static;
    background-image: url(../images/proximamente-portada.gif);
    background-size: calc();
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 500px;
    text-align: center;
    filter: drop-shadow(10px 10px 10px purple);
  }

   .donat-h2{
    width: auto;
    color: #e359ff;
    font-size: 24px;
    
  }
  .donat-span{
    color: #d48bff;
    font-size: 18px;
  }

  .donat{
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    align-items: center;
    align-content: center;

  }

  /* Articulos Tecnicos*/
  .img-articulos{display: inline-block;width: 400px;height: auto;filter: drop-shadow(0 10px 15px rgb(132, 19, 155));border-radius: 15px;cursor:zoom-in;margin: 5px;}
  #img-articulos-click{display: none;}
  #img-articulos-click:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click2{display: none;}
  #img-articulos-click2:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click3{display: none;}
  #img-articulos-click3:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click4{display: none;}
  #img-articulos-click4:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click5{display: none;}
  #img-articulos-click5:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click6{display: none;}
  #img-articulos-click6:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click7{display: none;}
  #img-articulos-click7:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click8{display: none;}
  #img-articulos-click8:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click9{display: none;}
  #img-articulos-click9:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click10{display: none;}
  #img-articulos-click10:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click11{display: none;}
  #img-articulos-click11:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click12{display: none;}
  #img-articulos-click12:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click13{display: none;}
  #img-articulos-click13:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click14{display: none;}
  #img-articulos-click14:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click15{display: none;}
  #img-articulos-click15:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click16{display: none;}
  #img-articulos-click16:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click17{display: none;}
  #img-articulos-click17:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click18{display: none;}
  #img-articulos-click18:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click19{display: none;}
  #img-articulos-click19:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click20{display: none;}
  #img-articulos-click20:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click21{display: none;}
  #img-articulos-click21:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click22{display: none;}
  #img-articulos-click22:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click23{display: none;}
  #img-articulos-click23:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click24{display: none;}
  #img-articulos-click24:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click25{display: none;}
  #img-articulos-click25:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click26{display: none;}
  #img-articulos-click26:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click27{display: none;}
  #img-articulos-click27:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click28{display: none;}
  #img-articulos-click28:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click29{display: none;}
  #img-articulos-click29:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click30{display: none;}
  #img-articulos-click30:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click31{display: none;}
  #img-articulos-click31:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click32{display: none;}
  #img-articulos-click32:checked + label > img {width:900px;height: auto;margin: 0px;}
  #img-articulos-click33{display: none;}
  #img-articulos-click33:checked + label > img {width:900px;height: auto;margin: 0px;}

  /* .img-articulos:hover{width: 100%;height: auto;filter: drop-shadow(0 10px 15px rgb(255, 179, 255))} */

  .icon-laboratorios{width:auto;height:100px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}
  .icon-libro{width:auto;height:90px;max-width:50%;max-height:50%; align-items: center;
    filter: drop-shadow(0 10px 15px purple)}


.texto-parrafo{color: #673188;text-align: justify;}
.texto-articulos{color: #3a1353; text-align: left;}

/* Artículos Seguridad Informática */
.portada-seguridad{
  position: static;
  background-image: url(../images/security-home.gif);
  background-size:calc();
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 450px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px purple);
}

.portada-news{
  position: static;
  background-image: url(../images/portada-tech.gif);
  background-size:calc();
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 450px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px purple);
  
}

/* Página de contacto */
.portada-contacto{
  position: static;
  background-image: url(../images/contacto-portada.gif);
  background-size:calc();
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 450px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px purple);
}

.icon-contacto-bloque{width:60px;height:auto;max-width:50%;max-height:50%; align-items: center;
  filter: drop-shadow(0 10px 15px purple)}

/* Menu Desplegable. */

.dropdownmenu ul {
font-size: 14px;
background-image: linear-gradient(340deg, rgba(161, 36, 192, 0.658) 25%, #0a060a 100%);
margin: 4;
padding: 0;
font-family: 'Roboto Mono', monospace;
position: fixed;
z-index: index 0;
top: 0;
position: fixed, static;
left: 0; top: 0; right: 0;
border-radius: 5px; border-bottom-color: rgb(136, 48, 187);border-right-color: block; border-style: solid;
}   

.dropdownmenu ul {
list-style: none;
width: 100%;
}

.titulo-menu{
  font-size: 16px;
}

.dropdownmenu li {
font-size: 10px;
float: left;
position: relative;
width:auto;
}
.dropdownmenu a {
background-color: transparent;
color: #FFFFFF;
display: block;
font: bold sans-serif;
font-size: 12px;
padding: 10px 25px;
text-align: center;
text-decoration: none;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;
}
.dropdownmenu li:hover a {
  font-size: 14px;
}
#submenu {
left: 0;
opacity: 0;
position: absolute;
top: 35px;
visibility: hidden;
z-index: 1;
}
li:hover ul#submenu {
opacity: 1;
top: 40px;  
visibility: visible;
}
#submenu li {
float: none;
width: 100%;
}
#submenu a:hover {
background-image: linear-gradient(340deg, rgba(161, 36, 192, 0.658) 20%, transparent 50%);
}
#submenu a {
  background-image: linear-gradient(340deg, rgba(2, 1, 2, 0.658) 100%, rgba(161, 36, 192, 0.658) 50%)
}


/* Menu responsive */


/*Articulos tecnologia*/
.titulo-art-list{font-size: 12px;}
.li-art-list{font-size: 14px;}

.icon-art{width: 250px;height: auto;}
.icon-art-proximamente{width: 100px;height: auto;margin: 20px;}




  @media only screen and (max-width : 1200px) {

    .img-articulos{background-image: url(../images/debian.jpg);width: 250px;height: auto;}
    .img-articulos:hover{}
  
  .img-boton{width: 70px; height: auto}
  /* Articulos tecnología */
  .bloque-art-list {
      width: auto;
      background:rgba(222, 178, 240, 0.753);
      margin:5px;margin-top: 1px;
      padding:12px;
      border-radius: 4px;
      font-size: 18px;
      text-align: center;
      flex:1;
      display: block;
      flex-wrap:wrap;
  }

  .img-art-list{width: 200px; margin-right: 25px;}
  .enlace-art{display: flex;line-height: 50px;font-size: 16px; color: #fffefb; font-style: oblique;filter: drop-shadow(5px 5px 5px rgb(0, 0, 0))}
}
 


@media only screen and (max-width : 900px){
  .portada-home{}

    .header{display: inline-block;}
    .container-logo-nav{display: inline-block;align-items: center;}
    /* Iconos header Medio */
    .icon-twitter, .icon-linkedin{width: 25px;}
    .icon-github-medio{width: 25px;}

    .pricing-grid {
      max-width: 100%;
      min-width: 120px;
      margin: 0 auto;
      display: inline-block; 
      align-items: center;
      align-content: center;
    }

    .bloque-texto {
      font-size: 16px;
      width: auto;
      background:rgba(222, 178, 240, 0.753);
      margin:5px;
      padding:12px;
      border-radius: 4px;
      text-align: justify;
      flex:1;
      display: block;
      flex-wrap:wrap;
    }

    /*Articulos tecnologia*/
    .titulo-art-list{font-size: 12px;}
    .li-art-list{font-size: 14px;}

    .icon-art{width: 200px;height: auto;filter: drop-shadow(0 10px 15px rgb(255, 254, 255))}

    .dropdownmenu ul {
      font-size: 14px;
      background-image: linear-gradient(340deg, rgba(161, 36, 192, 0.658) 25%, #0a060a 100%);
      margin: 4;
      padding: 0;
      font-family: 'Roboto Mono', monospace;
      position: sticky;
      z-index: index 0;
      top: 0;
      position: fixed, static;
      left: 0; top: 0; right: 0;
      border-radius: 5px; border-bottom-color: rgb(136, 48, 187);border-right-color: block; border-style: solid;
      }   
      
      .dropdownmenu ul {
      list-style-type: style none;;
      width: 100%;
      }

      .img-articulos{display: inline-block;width: 300px;height: auto;filter: drop-shadow(0 5px 5px rgb(132, 19, 155));border-radius: 25px;cursor:zoom-in;margin: 5px;}
      #img-articulos-click{display: none;}
      #img-articulos-click:checked + label > img {width:380px;height: 300px;margin: 0px;}
      #img-articulos-click2{display: none;}
      #img-articulos-click2:checked + label > img {width:380px;height: 300px;margin: 0px;}

}

@media only screen and (max-width : 700px){

  .dropdownmenu ul {
    display:grid;
  list-style: none;
  width: auto;
  }

  .enlace-art{font-size: 14px;line-height: 20px;}
  .img-art-list{width: 270px;}
  .li-articulos{list-style: none;}
}
