/* 
   .' -   - '.
  /  .-. .-.  \
  |  | | | |  |     ShellDredd Society
   \ \o/ \o/ /       -The cyber side-
  _/    ^    \_
 | \  '---'  / |
 / /`--. .--`\ \
/ /'---` `---'\ \
'.__.       .__.'
    `|     |`
     |     \
     \      '--.
      '.        `\
        `'---.   |
           ,__) /
            `..' */

            * {
                margin: 0;
                padding: 0;
            }
            
            #contenedor_carga{
                background-image: url(https://media4.giphy.com/media/fq8HxnZAkoTybqirPN/giphy.gif?cid=ecf05e47fpklneax6lt5ub9t83kwozz3dja2zwmvtcbsvcnt&rid=giphy.gif);
                background-repeat: no-repeat;
                background-size: cover;
                background-color: black;
                height: 100%;
                width: 100%;
                position: fixed;
                -webkit-transition: all 3s ease;
                -o-transition: all 3s ease;
                transition: all 3s ease;
                z-index: 10000;
            }
            
            #menu{
                
            }
        
            /* Main styles */
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
        
        .text {
          fill: none;
          stroke-width: 6;
          stroke-linejoin: round;
          stroke-dasharray: 70 330;
          stroke-dashoffset: 0;
          -webkit-animation: stroke 6s infinite linear;
          animation: stroke 6s infinite linear;
          font-size: 100px;
        }
        
        .text:nth-child(5n + 1) {
          stroke: #6b0000;
          -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
        }
        .text:nth-child(5n + 2) {
          stroke: #701b1b;
          -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
        }
        
        .text:nth-child(5n + 3) {
          stroke: transparent;
          -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
        }
        
        .text:nth-child(5n + 4) {
          stroke: #750000;
          -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
        }
        
        .text:nth-child(5n + 5) {
          stroke: #5f0000;
          -webkit-animation-delay: -6s;
          animation-delay: -6s;
        }
        
        @-webkit-keyframes stroke {
          100% {
            stroke-dashoffset: -400;
          }
        }
        
        @keyframes stroke {
          100% {
            stroke-dashoffset: -400;
          }
        }
        
        /* Other styles */
        
        body {
          font: Open Sans, Impact;
          background-image: url(https://media0.giphy.com/media/3o7TKCDD0G9hKB6cfe/giphy.gif?cid=ecf05e4750837f6c16c39a206cd43c98ce7a14d1eaddf678&rid=giphy.gif);
          background-size: cover;
        }
        
        svg {
        }
        
        .contenedor-texto{
            text-align: center;
            font-size: 30px;
            font-family: fantasy;
            color: rgb(189, 0, 0);
        }
        
        .texto1 {
            color: rgb(204, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(255, 53, 53));
        }
        
        .texto2 {
            color: rgb(204, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(255, 53, 53));
        }
        
        .texto3 {
            color: rgb(204, 0, 0);
            filter: drop-shadow(0 10px 10px rgb(255, 53, 53));
        }
        
        .img-logo1 {
            filter: drop-shadow(0 10px 10px rgb(255, 53, 53));
        }
